<div class="spec-container" style="background-color: var(--primary) !important;">
  <div class="hero-wrapper">
    <div class="header">
      <app-banner></app-banner>
    </div>

    <app-banner-big mainText="Получай помощь от посетителей сайта" btnText="Продолжить" [btnIcon]="'add'"
      subText="Для современного мира курс на социально-ориентированный национальный проект обеспечивает актуальность системы массового участия."
      path="/shelters/">
    </app-banner-big>

    <app-banner-big mainText="Ты нашел потерявшееся животное" btnText="Найти хозяина" [btnIcon]="'search'"
      subText="Для современного мира курс на социально-ориентированный национальный проект обеспечивает актуальность системы массового участия."
      path="/pets/">
    </app-banner-big>


    <app-banner-big mainText="Помогай приютам по всему миру" btnText="Стать спонсором" [btnIcon]="'credit_card'"
      subText="Для современного мира курс на социально-ориентированный национальный проект обеспечивает актуальность системы массового участия."
      path="/xz/" [inProcessVisible]="true" [btnDisabled]="true">
    </app-banner-big>

    <app-banner-big mainText="Вы благотворительная организация" btnText="Продолжить" [btnIcon]="'add'"
      subText="Для современного мира курс на социально-ориентированный национальный проект обеспечивает актуальность системы массового участия."
      path="/xz/" [inProcessVisible]="true" [btnDisabled]="true">
    </app-banner-big>
  </div>
</div>