<button mat-button class="mat-button" type="submit" cdkStepperNext style="left: 125px;" (click)="createPaymentIntent()">
  Подтвердить
  <mat-icon aria-hidden="false" aria-label="Example home icon">
    keyboard_arrow_right
  </mat-icon>
</button>
<!-- <app-product-card [basketItems]="basketItems"></app-product-card> -->