@import "./styles/sizes.scss";
@import "./styles/colors.scss";
@import "./styles/variables.scss";
@import "./styles/buttons.scss";
@import "./styles/breadcrumb.scss";
@import "./styles/material.scss";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$MyAppClient-primary: mat-palette($mat-grey, A700, A800, A900);
$MyAppClient-accent: mat-palette($mat-pink, A200, A100, A400);
$MyAppClient-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$MyAppClient-theme: mat-light-theme(
  (
    color: (
      primary: $MyAppClient-primary,
      accent: $MyAppClient-accent,
      warn: $MyAppClient-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($MyAppClient-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --main-theme-color-primary-blue: #3f51b5;
  --main-theme-color-darkblue: #050070;
  --main-theme-color-grey: #323232;
  --main-theme-color-warn: #ff4081;

  --main-font-color: rgb(6, 11, 29);
  --warn: #ff4081;
  --magenta: #aa00ff;
}

*,
html,
body {
  box-sizing: border-box;
  margin-right: 0rem;
  margin-left: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-top: 0rem;
  outline: none;
  -ms-overflow-style: none;
}

body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0rem;
  margin: 0;
  font-size: 1rem;
  color: rgba(8, 9, 44, 0.748);
}

html {
  background-color: var(--background);
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
  }

  .container {
    margin: 0rem 0rem;
    padding-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .cdk-overlay-pane {
    snack-bar-container {
      background-color: #202020;

      simple-snack-bar {
        span {
          color: white;
          opacity: 1;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

/* хром, сафари */
*::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
}

.spec-container {
  padding-left: 50px;
  padding-right: 50px;
  background-color: transparent !important;
  background-color: var(--background);
}

.spec-inner {
  margin-top: 150px;
}

@media (max-width: 900px) and (min-width: 700px) {
  .spec-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 770px) {
  .spec-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 320px) {
  .spec-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
